{# templates/shop/basedata.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container" >
    <div class="row">
        <div class="col-sm-3">
            <h3>Artikel:</h3>
            <p>Hier können sie neue Artikel anlegen</p></br>
        </div>
        <div class="col-sm-6">
            <p>{{ form(form) }}</p>
        </div>
    </div>
</div>
{% endblock %}