<!DOCTYPE html>


{# beware that the blocks in your template may be named different #}
{% block head_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/shop.css">
{% endblock %}
{% block head_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}



<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TestShop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {# read and display all flash messages #}
        <div id="error_box">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
